- Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

- Loading the data set

In [3]:
raw_data=pd.read_csv('raw_data.csv')
incremental_data=pd.read_csv('incremental_data.csv')

In [4]:
print(raw_data.head())

   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08    NaN
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South

In [5]:
print(incremental_data.head())

   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102           NaN  Laptop       1.0       300.0  2024-05-07  Central
2       103           NaN  Laptop       1.0       600.0  2024-05-04  Central
3       104           NaN  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

- Printing the information of the dataframes

In [ ]:
print(raw_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  99 non-null     object
 2   product        100 non-null    object
 3   quantity       74 non-null     float64
 4   unit_price     65 non-null     float64
 5   order_date     99 non-null     object
 6   region         75 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.6+ KB
Information of  None

In [ ]:
print(incremental_data.info())

- Checking for missing values

In [ ]:
print("Missing values in raw data:\n", raw_data.isnull().sum())

Missing values in raw data:
 order_id          0
customer_name     1
product           0
quantity         26
unit_price       35
order_date        1
region           25
dtype: int64

In [12]:
print("Missing values in incremental data:\n", incremental_data.isnull().sum())

Missing values in incremental data:
 order_id         0
customer_name    6
product          0
quantity         4
unit_price       0
order_date       0
region           2
dtype: int64

- Checking for duplicates in both data sets

In [17]:
print("Number of duplicate rows:", raw_data.duplicated().sum())
print("Duplicates in raw data:")
duplicates =raw_data[raw_data.duplicated()]
print(duplicates)

Number of duplicate rows: 1
Duplicates in raw data:
   order_id customer_name product  quantity  unit_price  order_date region
5         4           Eve  Laptop       2.0       750.0  2024-01-07   West

In [18]:
print("Number of duplicate rows:", incremental_data.duplicated().sum())
print("Duplicates in incremental data:")
duplicates =incremental_data[incremental_data.duplicated()]
print(duplicates)

Number of duplicate rows: 0
Duplicates in incremental data:
Empty DataFrame
Columns: [order_id, customer_name, product, quantity, unit_price, order_date, region]
Index: []

In [21]:
raw_data.to_csv('data/raw_data1.csv', index=False)
incremental_data.to_csv('data/incremental_data2.csv', index=False)