In [1]:
import pandas as pd

# Load transformed CSV files
full_df = pd.read_csv('transformed/transformed_full.csv')
inc_df = pd.read_csv('transformed/transformed_incremental.csv')

In [2]:
# Save both datasets to Parquet
full_df.to_parquet('loaded/full_data.parquet', index=False)
inc_df.to_parquet('loaded/incremental_data.parquet', index=False)

In [3]:
# Read and preview stored Parquet files
print("Full Data Preview:")
pd.read_parquet('loaded/full_data.parquet').head()

Full Data Preview:

,order_id,customer_name,product,quantity,unit_price,order_date,region,total_price,order_month,customer_tier
0,1,Diana,Tablet,1.958904,500.00000,2024-01-20,South,979.452055,1,Medium
1,2,Eve,Laptop,1.958904,496.09375,2024-04-29,North,971.800086,4,Medium
2,3,Charlie,Laptop,2.000000,250.00000,2024-01-08,South,500.000000,1,Low
3,4,Eve,Laptop,2.000000,750.00000,2024-01-07,West,1500.000000,1,Medium
4,5,Eve,Tablet,3.000000,496.09375,2024-03-07,South,1488.281250,3,Medium

In [4]:
print("Incremental Data Preview:")
pd.read_parquet('loaded/incremental_data.parquet').head()

Incremental Data Preview:

,order_id,customer_name,product,quantity,unit_price,order_date,region,total_price,order_month,customer_tier
0,101,Alice,Laptop,1.5,900.0,2024-05-09,Central,1350.0,5,Medium
1,105,Heidi,Tablet,2.0,600.0,2024-05-21,North,1200.0,5,Medium
2,109,Grace,Laptop,2.0,600.0,2024-05-29,Central,1200.0,5,Medium
3,110,Heidi,Phone,1.5,900.0,2024-05-24,Central,1350.0,5,Medium